CONFIG_ARM=y
CONFIG_TARGET_TQMLS102XA=y
CONFIG_ARMV7_LPAE=y
CONFIG_TQMLS102XA_MBLS102XA=y
CONFIG_FIT=y
CONFIG_FIT_VERBOSE=y
CONFIG_OF_BOARD_SETUP=y
CONFIG_SYS_EXTRA_OPTIONS="RAMBOOT_PBL,QSPI_BOOT"
# CONFIG_CMD_ELF is not set
# CONFIG_CMD_IMLS is not set
# CONFIG_CMD_LOADB is not set
# CONFIG_CMD_LOADS is not set
# CONFIG_CMD_FLASH is not set
# CONFIG_CMD_FPGA is not set
# CONFIG_CMD_NFS is not set
CONFIG_CMD_EXT4=y
CONFIG_CMD_FAT=y
CONFIG_CMD_FS_GENERIC=y
CONFIG_SYS_NS16550=y
# CONFIG_REGEX is not set
CONFIG_LZ4=y
CONFIG_OF_LIBFDT=y
# CONFIG_EFI_LOADER is not set
