ACTION=="add", SUBSYSTEM=="net", ENV{ID_VENDOR_ID}=="168c", ENV{ID_MODEL_ID}=="0033", RUN+="/usr/sbin/wlan-start.sh ${name}"
ACTION=="remove", SUBSYSTEM=="net", ENV{ID_VENDOR_ID}=="168c", ENV{ID_MODEL_ID}=="0033", RUN+="/usr/sbin/wlan-stop.sh ${name}"

